.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 2rem;

  > ul {
    display: flex;
    margin-left: auto;
    list-style: none;

    > li {
    }
  }
}

.link {
  display: flex;
  align-items: center;
}
